@import "reset.css";

.hidden {
  display: none;
}

body {
  background-color: beige;
  height: 100%;
  width: 100%;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

body img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
  font-size: 18px;
  font-weight: 800;
}

#login-form {
  position: absolute;
  top: 100px;
  left: 40%;
}

#clock {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: 110px;
}

#greeting {
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}
#todo-form {
  text-align: center;
}

#todo-form input {
  margin-top: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
  background-color: transparent;
  font-weight: 600;
  outline: none;
  text-align: center;
  width: 50%;
  font-size: 30px;
  color: white;
}

#todo-form input::placeholder {
  color: white;
  opacity: 1;
  border: 1px;
}

#todo-form input:focus::placeholder {
  color: transparent;
}

#todo-list {
  margin: 5px 0px;
  text-align: center;
  font-size: 18px;
}

#todo-list button {
  background-color: transparent;
  border: none;
}
#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  font-weight: 700;
}

#quote span:last-child {
  font-size: 13px;
}
#quote span:first-child:hover {
  animation: quoteFocus 0.5s linear forwards;
}

@keyframes quoteFocus {
  from {
    transform: none;
  }
  to {
    transform: scale(1.1);
  }
}
